.login-container {
  background: #212121 url("https://demos.creative-tim.com/notus-pro-react/static/media/bg-presentation.d97f41e0.svg")
    no-repeat center center;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 12px;
}

.page-item {
  margin: 0 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.page-item a,
.page-link {
  padding: 5px 15px;
  border: 1.5px solid #ddd;
  border-radius: 0.25rem;
  color: #4a5568;
  text-decoration: none;
}

.active .page-link {
  background-color: #2563eb;
  border-color: #2563eb;
  color: white;
}

.active .page-link:hover {
  background-color: #2564ebd4;
}

.page-link:hover {
  background-color: #e5e7eb;
}

.previous .page-link::before {
  content: "Previous";
  margin-right: 0.25rem;
}

.next .page-link::after {
  content: "Next";
  margin-left: 0.25rem;
}
.pop-backdrop {
  background-color: #00000091;
}
.slider-container > div {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  background-color: #000000;
  padding: 10px;
  opacity: 1;
  border-radius: 50%;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  font-size: 24px;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.slick-arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.custom-prev-arrow {
  left: 0;
  margin-left: 20px; /* Add some spacing from the edge */
}

.custom-next-arrow {
  right: 0;
  margin-right: 20px; /* Add some spacing from the edge */
}

.category-dropdown {
  margin-bottom: 10px; /* Adjust spacing between categories */
}

.category-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-content {
  display: none;
  margin-top: 10px; /* Adjust spacing between title and content */
}

.category-dropdown.active .category-content {
  display: block;
}

.showcase-tags a.active {
  background-color: rgb(227 160 8) !important;
  color: rgb(255, 255, 255) !important;
}
.showcase-container {
  -moz-column-count: 1;
  column-count: 1;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -moz-column-fill: balance;
  column-fill: balance;
  margin: 20px auto 0;
  padding: 2rem;
}
.showcase-container .item {
  display: inline-block;
  margin: 0 0 20px;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  width: 100%;
}
.showcase-container .item img {
  width: 100%;
  height: auto;
}
@media (min-width: 600px) {
  .showcase-container {
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 800px) {
  .slider-cont img{
    max-height: 500px !important;
  }
}
@media (min-width: 900px) {
  .showcase-container {
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (min-width: 1200px) {
  .showcase-container {
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (max-width: 850px) {
  .popup-img {
    max-width: 100% !important;
  }
}

